<div class="container">
    <div class="row">
        <div class="col-xs-6">
        <h2>Famous Pirates</h2>
        <ul class="pirates">
            <li *ngFor="let pirate of pirates" (click)="onSelect(pirate)" [class.selected]="pirate == selectedPirate">
                <span class="badge"> {{pirate.id}} </span> {{pirate.name}}
            </li>
        </ul>
        </div>
        <div class="col-xs-6 offset-1">
                <app-pirate-detail [pirate]="selectedPirate"></app-pirate-detail>
        </div>
    </div>
</div>