/* DashboardComponent's private CSS styles */

[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

a {
  text-decoration: none;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  margin-bottom: 0;
}

h4 {
  position: relative;
}

.grid {
  margin: 0;
}

.col-1-4 {
  max-width: 250px;
  margin: 0 5px;
}

.col-1-4 img {
  max-width: 250px;
  border-radius: 4px;
}

.module {
  text-align: center;
  color: #eee;
  background-color: #607D8B;
  border-radius: 2px;
}

.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
.pirates-title {
    color: #fff;
  margin: 40px 0 60px;
}
.grid-pad {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* position: absolute;
  left: 0;
  top: 0; */
   max-width: 100%;
  align-items: center;
}

.pirate-container {
  display: flex;
  flex-direction: column;
}

.grid-pad>[class*='col-']:last-of-type {
  padding-right: 20px;
}

.pirate-container {
  position: relative;
}

.pirate-name {
  display: block;
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: opacity .5s ease;
  font-family: vinque;
}

.pirate-container:hover .pirate-name {
  opacity: 1;
  transition: opacity .5 sease;
}

@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px;
  }
}

@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
